html,
body {
  margin: 0;
  padding: 0;
  background: #001122;
  color: #fefefe;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes $animation-name {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes $animation-name {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
@keyframes $animation-name {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
.scores-container {
  float: right;
  text-align: right; }

.score-container,
.best-container {
  position: relative;
  display: inline-block;
  background: #006699;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after,
  .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #6699BB; }
  .score-container .score-addition,
  .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(254, 254, 254, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #fefefe;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid white;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 500px;
  margin: 0 auto; }

@-webkit-keyframes $animation-name {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes $animation-name {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes $animation-name {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.game-container {
  margin-top: 40px;
  position: relative;
  padding: 5px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #006699;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 102, 153, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 2400ms;
    -moz-animation: fade-in 800ms ease 2400ms;
    animation: fade-in 800ms ease 2400ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #002233;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #ffffff;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(102, 153, 204, 0.5);
      color: #ffffff; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 5px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 94px;
  height: 94px;
  margin-right: 5px;
  float: left;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1); }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile,
.tile .tile-inner {
  width: 94px;
  height: 94px;
  line-height: 94px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 99px);
  -moz-transform: translate(0px, 99px);
  -ms-transform: translate(0px, 99px);
  transform: translate(0px, 99px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 198px);
  -moz-transform: translate(0px, 198px);
  -ms-transform: translate(0px, 198px);
  transform: translate(0px, 198px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 297px);
  -moz-transform: translate(0px, 297px);
  -ms-transform: translate(0px, 297px);
  transform: translate(0px, 297px); }
.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 396px);
  -moz-transform: translate(0px, 396px);
  -ms-transform: translate(0px, 396px);
  transform: translate(0px, 396px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(99px, 0px);
  -moz-transform: translate(99px, 0px);
  -ms-transform: translate(99px, 0px);
  transform: translate(99px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(99px, 99px);
  -moz-transform: translate(99px, 99px);
  -ms-transform: translate(99px, 99px);
  transform: translate(99px, 99px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(99px, 198px);
  -moz-transform: translate(99px, 198px);
  -ms-transform: translate(99px, 198px);
  transform: translate(99px, 198px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(99px, 297px);
  -moz-transform: translate(99px, 297px);
  -ms-transform: translate(99px, 297px);
  transform: translate(99px, 297px); }
.tile.tile-position-2-5 {
  -webkit-transform: translate(99px, 396px);
  -moz-transform: translate(99px, 396px);
  -ms-transform: translate(99px, 396px);
  transform: translate(99px, 396px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(198px, 0px);
  -moz-transform: translate(198px, 0px);
  -ms-transform: translate(198px, 0px);
  transform: translate(198px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(198px, 99px);
  -moz-transform: translate(198px, 99px);
  -ms-transform: translate(198px, 99px);
  transform: translate(198px, 99px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(198px, 198px);
  -moz-transform: translate(198px, 198px);
  -ms-transform: translate(198px, 198px);
  transform: translate(198px, 198px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(198px, 297px);
  -moz-transform: translate(198px, 297px);
  -ms-transform: translate(198px, 297px);
  transform: translate(198px, 297px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(198px, 396px);
  -moz-transform: translate(198px, 396px);
  -ms-transform: translate(198px, 396px);
  transform: translate(198px, 396px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(297px, 0px);
  -moz-transform: translate(297px, 0px);
  -ms-transform: translate(297px, 0px);
  transform: translate(297px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(297px, 99px);
  -moz-transform: translate(297px, 99px);
  -ms-transform: translate(297px, 99px);
  transform: translate(297px, 99px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(297px, 198px);
  -moz-transform: translate(297px, 198px);
  -ms-transform: translate(297px, 198px);
  transform: translate(297px, 198px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(297px, 297px);
  -moz-transform: translate(297px, 297px);
  -ms-transform: translate(297px, 297px);
  transform: translate(297px, 297px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(297px, 396px);
  -moz-transform: translate(297px, 396px);
  -ms-transform: translate(297px, 396px);
  transform: translate(297px, 396px); }
.tile.tile-position-5-1 {
  -webkit-transform: translate(396px, 0px);
  -moz-transform: translate(396px, 0px);
  -ms-transform: translate(396px, 0px);
  transform: translate(396px, 0px); }
.tile.tile-position-5-2 {
  -webkit-transform: translate(396px, 99px);
  -moz-transform: translate(396px, 99px);
  -ms-transform: translate(396px, 99px);
  transform: translate(396px, 99px); }
.tile.tile-position-5-3 {
  -webkit-transform: translate(396px, 198px);
  -moz-transform: translate(396px, 198px);
  -ms-transform: translate(396px, 198px);
  transform: translate(396px, 198px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(396px, 297px);
  -moz-transform: translate(396px, 297px);
  -ms-transform: translate(396px, 297px);
  transform: translate(396px, 297px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(396px, 396px);
  -moz-transform: translate(396px, 396px);
  -ms-transform: translate(396px, 396px);
  transform: translate(396px, 396px); }

.tile {
  position: absolute;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #336699;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }
  .tile.tile-2 .tile-inner {
    background: #336699;
    box-shadow: 0 0 30px 10px rgba(159, 191, 223, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-4 .tile-inner {
    color: #ffffff;
    background: #376da1; }
  .tile.tile-8 .tile-inner {
    color: #ffffff;
    background: #3c73aa; }
  .tile.tile-16 .tile-inner {
    color: #ffffff;
    background: #4079b2; }
  .tile.tile-32 .tile-inner {
    color: #ffffff;
    background: #4780b9; }
  .tile.tile-64 .tile-inner {
    color: #ffffff;
    background: #5087bd; }
  .tile.tile-128 .tile-inner {
    color: #ffffff;
    background: #598dc1;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .tile.tile-256 .tile-inner {
    color: #ffffff;
    background: #6194c6;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .tile.tile-512 .tile-inner {
    color: #ffffff;
    background: #6a9aca;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .tile.tile-1024 .tile-inner {
    color: #ffffff;
    background: #73a1cf;
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
  .tile.tile-2048 .tile-inner {
    color: #ffffff;
    background: #7ba7d3;
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
  .tile.tile-super .tile-inner {
    color: #ffffff;
    background: #36383b;
    font-size: 30px; }
    @media screen and (max-width: 520px) {
      .tile.tile-super .tile-inner {
        font-size: 10px; } }

@-webkit-keyframes $animation-name {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes $animation-name {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes $animation-name {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 200ms;
  -moz-animation: appear 200ms ease 200ms;
  animation: appear 200ms ease 200ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes $animation-name {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes $animation-name {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes $animation-name {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 200ms;
  -moz-animation: pop 200ms ease 200ms;
  animation: pop 200ms ease 200ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }

.restart-button {
  display: inline-block;
  background: #002233;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #ffffff;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }

.game-explanation {
  margin-top: 50px; }

@media screen and (max-width: 520px) {
  html,
  body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  .heading {
    position: absolute;
    top: 0;
    left: 0;
    background: #006699;
    right: 0;
    width: calc(100vw - 130px);
    margin: 0;
    padding: 5px 115px 5px 15px; }

  h1.title {
    display: none; }

  .container {
    width: 280px;
    margin: 0 auto; }

  .score-container,
  .best-container {
    margin-top: 0;
    padding: 15px 5px;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    height: 15px;
    line-height: 38px; }
    .score-container:after,
    .best-container:after {
      font-size: 15px; }

  .score-addition {
    display: none; }

  .game-intro {
    display: none; }

  .restart-button {
    width: 90px;
    padding: 0 5px;
    display: block;
    box-sizing: border-box;
    margin-top: 2px;
    position: absolute;
    right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 8px; }

  .game-container {
    margin-top: 70px;
    position: relative;
    padding: 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #006699;
    border-radius: 6px;
    width: 280px;
    height: 280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(51, 102, 153, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 2400ms;
      -moz-animation: fade-in 800ms ease 2400ms;
      animation: fade-in 800ms ease 2400ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        background: #002233;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #ffffff;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .game-container .game-message.game-won {
        background: rgba(102, 153, 204, 0.5);
        color: #ffffff; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 10px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    float: left;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1); }
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile,
  .tile .tile-inner {
    width: 44px;
    height: 44px;
    line-height: 44px; }
  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 54px);
    -moz-transform: translate(0px, 54px);
    -ms-transform: translate(0px, 54px);
    transform: translate(0px, 54px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 108px);
    -moz-transform: translate(0px, 108px);
    -ms-transform: translate(0px, 108px);
    transform: translate(0px, 108px); }
  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 162px);
    -moz-transform: translate(0px, 162px);
    -ms-transform: translate(0px, 162px);
    transform: translate(0px, 162px); }
  .tile.tile-position-1-5 {
    -webkit-transform: translate(0px, 216px);
    -moz-transform: translate(0px, 216px);
    -ms-transform: translate(0px, 216px);
    transform: translate(0px, 216px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(54px, 0px);
    -moz-transform: translate(54px, 0px);
    -ms-transform: translate(54px, 0px);
    transform: translate(54px, 0px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(54px, 54px);
    -moz-transform: translate(54px, 54px);
    -ms-transform: translate(54px, 54px);
    transform: translate(54px, 54px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(54px, 108px);
    -moz-transform: translate(54px, 108px);
    -ms-transform: translate(54px, 108px);
    transform: translate(54px, 108px); }
  .tile.tile-position-2-4 {
    -webkit-transform: translate(54px, 162px);
    -moz-transform: translate(54px, 162px);
    -ms-transform: translate(54px, 162px);
    transform: translate(54px, 162px); }
  .tile.tile-position-2-5 {
    -webkit-transform: translate(54px, 216px);
    -moz-transform: translate(54px, 216px);
    -ms-transform: translate(54px, 216px);
    transform: translate(54px, 216px); }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(108px, 0px);
    -moz-transform: translate(108px, 0px);
    -ms-transform: translate(108px, 0px);
    transform: translate(108px, 0px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(108px, 54px);
    -moz-transform: translate(108px, 54px);
    -ms-transform: translate(108px, 54px);
    transform: translate(108px, 54px); }
  .tile.tile-position-3-3 {
    -webkit-transform: translate(108px, 108px);
    -moz-transform: translate(108px, 108px);
    -ms-transform: translate(108px, 108px);
    transform: translate(108px, 108px); }
  .tile.tile-position-3-4 {
    -webkit-transform: translate(108px, 162px);
    -moz-transform: translate(108px, 162px);
    -ms-transform: translate(108px, 162px);
    transform: translate(108px, 162px); }
  .tile.tile-position-3-5 {
    -webkit-transform: translate(108px, 216px);
    -moz-transform: translate(108px, 216px);
    -ms-transform: translate(108px, 216px);
    transform: translate(108px, 216px); }
  .tile.tile-position-4-1 {
    -webkit-transform: translate(162px, 0px);
    -moz-transform: translate(162px, 0px);
    -ms-transform: translate(162px, 0px);
    transform: translate(162px, 0px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(162px, 54px);
    -moz-transform: translate(162px, 54px);
    -ms-transform: translate(162px, 54px);
    transform: translate(162px, 54px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(162px, 108px);
    -moz-transform: translate(162px, 108px);
    -ms-transform: translate(162px, 108px);
    transform: translate(162px, 108px); }
  .tile.tile-position-4-4 {
    -webkit-transform: translate(162px, 162px);
    -moz-transform: translate(162px, 162px);
    -ms-transform: translate(162px, 162px);
    transform: translate(162px, 162px); }
  .tile.tile-position-4-5 {
    -webkit-transform: translate(162px, 216px);
    -moz-transform: translate(162px, 216px);
    -ms-transform: translate(162px, 216px);
    transform: translate(162px, 216px); }
  .tile.tile-position-5-1 {
    -webkit-transform: translate(216px, 0px);
    -moz-transform: translate(216px, 0px);
    -ms-transform: translate(216px, 0px);
    transform: translate(216px, 0px); }
  .tile.tile-position-5-2 {
    -webkit-transform: translate(216px, 54px);
    -moz-transform: translate(216px, 54px);
    -ms-transform: translate(216px, 54px);
    transform: translate(216px, 54px); }
  .tile.tile-position-5-3 {
    -webkit-transform: translate(216px, 108px);
    -moz-transform: translate(216px, 108px);
    -ms-transform: translate(216px, 108px);
    transform: translate(216px, 108px); }
  .tile.tile-position-5-4 {
    -webkit-transform: translate(216px, 162px);
    -moz-transform: translate(216px, 162px);
    -ms-transform: translate(216px, 162px);
    transform: translate(216px, 162px); }
  .tile.tile-position-5-5 {
    -webkit-transform: translate(216px, 216px);
    -moz-transform: translate(216px, 216px);
    -ms-transform: translate(216px, 216px);
    transform: translate(216px, 216px); }

  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; }

  .official, .infos {
    display: none; }

  hr {
    display: none; }

  .game-explanation {
    margin-top: 15px; } }

/*# sourceMappingURL=main.css.map */
